extends: default.liquid
---
<div class="col s12 m9 l10">
  <div id="page_1" class="section scrollspy">
    <img src="1.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_2" class="section scrollspy">
    <img src="2.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_3" class="section scrollspy">
    <img src="3.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_4" class="section scrollspy">
    <img src="4.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_5" class="section scrollspy">
    <img src="5.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_6" class="section scrollspy">
    <img src="6.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_7" class="section scrollspy">
    <img src="7.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_8" class="section scrollspy">
    <img src="8.jpg" class="materialboxed" width="650"/>
  </div>
  <div id="page_9" class="section scrollspy">
    <img src="9.jpg" class="materialboxed" width="650"/>
  </div>
</div>
<div class="col hide-on-small-only m3 l2">
  <div class="toc-wrapper">
    <ul class="section table-of-contents">
      <li><a href="#page_1">1</a></li>
      <li><a href="#page_2">2</a></li>
      <li><a href="#page_3">3</a></li>
      <li><a href="#page_4">4</a></li>
      <li><a href="#page_5">5</a></li>
      <li><a href="#page_6">6</a></li>
      <li><a href="#page_7">7</a></li>
      <li><a href="#page_8">8</a></li>
      <li><a href="#page_9">9</a></li>
    </ul>
  </div>
</div>
