<nav>
    <div class="nav-wrapper blue lighten-2">
        <a href="/" class="brand-logo"> Talyxian Space!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/BeBox">Hobbit BeBox</a></li>
            <li><a href="/Me">About Me</a></li>
        </ul>
    </div>
</nav>
<br/>